:root {
      --base-font-size: 14px;
      --theme-color: rgba(194, 49, 57);
      --sidebar-width                               : 25rem;
      --sidebar-nav-link-before-content--active     : '';
      --sidebar-nav-link-before-content     : '';
      --sidebar-nav-link-before-content-l1--active     : '';
      --sidebar-nav-link-before-content-l1     : '';
      --sidebar-nav-link-before-content-l2--active     : '›';
      --sidebar-nav-link-before-content-l2     : '-';
      --sidebar-nav-link-before-content-l3--active     : '⚫';
      --sidebar-nav-link-before-content-l3     : '⚪';
      --sidebar-nav-link-before-content-l4--active     : '⚫';
      --sidebar-nav-link-before-content-l4     : '⚪';
      --sidebar-nav-link-before-color            : rgba(180, 180, 180);
      --sidebar-nav-link-before-color--active    : rgba(160, 160, 160);
      --sidebar-background: rgba(250, 250, 250);
      --sidebar-border-color: rgba(240, 240, 240);
      --sidebar-border-width: 1;
}
