:root {
      --sidebar-nav-link-before-content             : '';
      /* --sidebar-nav-link-before-content--active     : '-';
      --sidebar-nav-link-before-content-l1          : '-';
      --sidebar-nav-link-before-content-l1--active  : '-';
      --sidebar-nav-link-before-content-l2          : '-';
      --sidebar-nav-link-before-content-l2--active  : '-';
      --sidebar-nav-link-before-content-l3          : '-';
      --sidebar-nav-link-before-content-l3--active  : '-';
      --sidebar-nav-link-before-content-l4          : '-';
      --sidebar-nav-link-before-content-l4--active  : '-'; */
      /* --sidebar-nav-link-before-color               : red;
      --sidebar-nav-link-before-color--active       : red;
      --sidebar-nav-link-before-color-l1            : red;
      --sidebar-nav-link-before-color-l1--active    : red;
      --sidebar-nav-link-before-color-l2            : red;
      --sidebar-nav-link-before-color-l2--active    : red;
      --sidebar-nav-link-before-color-l3            : red;
      --sidebar-nav-link-before-color-l3--active    : red;
      --sidebar-nav-link-before-color-l4            : red;
      --sidebar-nav-link-before-color-l4--active    : red; */
  /* --base-font-size: 16px;
  --base-color: black;
  --selection-color: red;
  --theme-color: red;
  --zoomimage-overlay-background: rgba(255, 255, 255, 1);
  --cover-background-image: radial-gradient(ellipse at center 115%, rgba(255, 255, 255, 0.9), transparent);;
  --cover-background-color: rgba(150, 150, 150, 1);
  --link-border-bottom                : ;
  --link-border-bottom--hover         : ;
  --link-color                        : red;
  --link-color--hover                 : ;
  --link-text-decoration              : underline;
  --link-text-decoration--hover       : ;
  --link-text-decoration-color        : red;
  --link-text-decoration-color--hover : red;
  --sidebar-nav-strong-color: red;
  --sidebar-nav-link-before-color: red;
  --sidebar-nav-link-before-color--active: red;
  --sidebar-toggle-icon-color: red;
  --sidebar-nav-link-background-color           : ;
  --sidebar-nav-link-background-color--active   : ;
  --sidebar-nav-link-background-color--hover    : ;
  --sidebar-nav-link-background-image           : ;
  --sidebar-nav-link-background-image--active   : ;
  --sidebar-nav-link-background-image--hover    : ;
  --sidebar-nav-link-background-position        : ;
  --sidebar-nav-link-background-position--active: ;
  --sidebar-nav-link-background-position--hover : ;
  --sidebar-nav-link-background-repeat          : ;
  --sidebar-nav-link-background-size            : ;
  --sidebar-nav-link-background-size--active    : ;
  --sidebar-nav-link-background-size--hover     : ;
  --sidebar-nav-link-border-color               : ;
  --sidebar-nav-link-border-color--active       : ;
  --sidebar-nav-link-border-color--hover        : ;
  --sidebar-nav-link-border-radius              : ;
  --sidebar-nav-link-border-style               : solid;
  --sidebar-nav-link-border-style--active       : ;
  --sidebar-nav-link-border-style--hover        : ;
  --sidebar-nav-link-border-width               : 0;
  --sidebar-nav-link-border-width--active       : ;
  --sidebar-nav-link-border-width--hover        : ;
  --sidebar-nav-link-color                      : var(--base-color);
  --sidebar-nav-link-color--active              : ;
  --sidebar-nav-link-color--hover               : ;
  --sidebar-nav-link-font-weight                : normal;
  --sidebar-nav-link-font-weight--active        : ;
  --sidebar-nav-link-font-weight--hover         : ;
  --sidebar-nav-link-margin                     : ;
  --sidebar-nav-link-padding                    : 0.25em 0;
  --sidebar-nav-link-text-decoration            : ;
  --sidebar-nav-link-text-decoration--active    : underline;
  --sidebar-nav-link-text-decoration--hover     : underline;
  --sidebar-nav-link-text-decoration-color      : red;
  --sidebar-nav-link-transition                 : ; */
}
